.bt-op{
    background-color: #333;
    color: #fafafa;
    border: 1px solid #333;
    margin: 10px 10px 10px 10px;
}

body{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
}

main{
    margin-top: 100px;
    background-color: #0066cc;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
    align-content: stretch;
    padding: 50px;
}

main div{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
}

#bt-conf{
    background-color: #838d97;
    color: #333;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    width: 100px;
    height: 50px;
    border: 1px solid #838d97;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: stretch;
}

.bg-blue{
    background-color: #0066cc;
    margin: 10px 10px 10px 10px;
    height: 40px;
    width: 400px;
    display: flex;
    text-align: center;
    justify-content: center;
    color: #fafafa;
}

.valores{
    border: 1px solid #fafafa;
    padding: 15px 15px 15px 15px;
}